:root {
    --primary-color: #ff7833;
    --seconddary-color: #31333B;
}

body {
    display: flex;
    margin: 0;
    color: #e7e7e7;
    font-family: sans-serif;
    min-height: 100vh;
    min-height: 100vw;
}

article {
    border-top: 1px solid white;
}

h1 {
    font-size: 2.8rem;
}

h3 a {
    display: inline;
}

address a {
    display: inline;
}

h1,
h2,
h3 {
    color: orange;
}

.main,
.main-header {
    font-size: 1.6rem;
}

.main-header {
    flex: 0 0 20rem;
    background-color: var(--seconddary-color);
    text-align: center;

}

.main-content {
    background-color: #181818;
    flex: 1;
    padding: 6.5rem 3.0rem 7.5rem;
}

a {
    text-decoration: none;
    color: #e7e7e7;
    display: block;
}

ul {
    margin-right: 1.5rem;
    padding-right: 1.5rem;
}

li {

    list-style-type: none;
    font-size: 1.1rem;
    text-align: right;
    border-bottom: 1px solid white;
    padding: 0.8rem 0;
}

li:hover {
    background-color: #535353;
    transition: 0.4s;
    font-size: 1.2rem;
}

.perfil-img {
    max-width: 150px;
}