body{
    background-color: #0c1014;
    color: white;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    font-family: sans-serif;
}

.header{
    background-color: black;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}

.header__nav ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.header__nav a{
    color: white;
    text-decoration: none;
    padding: 16px;
}

.header__nav a:hover{
    color: yellow;
    transition: 1s;
}

a.header__planos{
    background-color: yellow;
    border-radius: 4px;
    color: black;
    
}

a.header__planos:hover{
    color: black;
}

.main-title{
    font-size: 58px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px;
}


.valores{
    display: flex;
    gap: 16px;
}

.valores__precos{
    flex: 1;
    background-color: #1f262c;
    border-radius: 6px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.valores__subtitulo{
    font-size: 22px;
    border-bottom: 1px solid yellow;
    padding-bottom: 10px;
}

.valores__valor-do-plano{
    font-size: 32px;
    font-weight: bold;
    color: yellow;
}

.valores__descricao{
    flex: 1;
}

.valores__botao{
    background-color: yellow;
    border-radius: 4px;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.valores__botao:hover{
    transition: 0.5s;
    transform: scale(1.05);
}

